# Базовые библиотеки

In [1]:
import pandas as pd
import os
import warnings
warnings.simplefilter('ignore')

In [2]:
import data_extracting
import merging
import visualization

In [3]:
DATA_DIR = 'Airlines'
DATA_EXPORTED = 'data'

# Извлечение данных в формат CSV
Запускать только если ещё нет экспортированных данных, так как некоторые функции могут работать существенное время

In [ ]:
os.mkdir(DATA_EXPORTED)

In [ ]:
data = data_extracting.extractBoardingData(f'{DATA_DIR}/BoardingData.csv')
data.to_csv(f'{DATA_EXPORTED}/BoardingData.csv', index=False)
del data

In [ ]:
data = data_extracting.extractAirlinesData(f'{DATA_DIR}/PointzAggregator-AirlinesData.xml')
data.to_csv(f'{DATA_EXPORTED}/PointzAggregator-AirlinesData.csv', index=False)
del data

In [ ]:
data = data_extracting.extractBoardingPass(f'{DATA_DIR}/YourBoardingPassDotAero.zip', clear_temp = True)
data.to_csv(f'{DATA_EXPORTED}/YourBoardingPassDotAero.csv', index=False)
del data

In [ ]:
data = data_extracting.extractFrequentFlyerForumProfiles(f'{DATA_DIR}/FrequentFlyerForum-Profiles.json')
data[0].to_csv(f'{DATA_EXPORTED}/FrequentFlyerForum-Profiles_Base.csv', index=False)
data[1].to_csv(f'{DATA_EXPORTED}/FrequentFlyerForum-Profiles_Flight.csv', index=False)
data[2].to_csv(f'{DATA_EXPORTED}/FrequentFlyerForum-Profiles_LoyalityProgram.csv', index=False)
del data

In [ ]:
data = data_extracting.extractSirenaExportFixed(f'{DATA_DIR}/Sirena-export-fixed.tab')
data.to_csv(f'{DATA_EXPORTED}/Sirena-export-fixed.csv', index=False)
del data

In [ ]:
data = data_extracting.extractSkyTeamExchange(f'{DATA_DIR}/SkyTeam-Exchange.yaml')
data.to_csv(f'{DATA_EXPORTED}/SkyTeam-Exchange.csv', index=False)
del data

In [ ]:
data = data_extracting.extractSkyteamTimetable(f'{DATA_DIR}/Skyteam_Timetable.pdf')
data.to_csv(f'{DATA_EXPORTED}/Skyteam_Timetable.csv', index=False)
del data

# Обработка данных

## 1. Обработка данных, с паспортами
Слияние, очистка и обработка данных из [этого](data/Sirena-export-fixed.csv) и [этого](data/BoardingData.csv) файлов

In [4]:
df_sirena = pd.read_csv('data/Sirena-export-fixed.csv')

In [5]:
df_sirena

,PaxName,PaxBirthDate,DepartDate,DepartTime,ArrivalDate,ArrivalTime,Flight,CodeSh,From,Dest,Code,e-Ticket,TravelDoc,Seat,Meal,TrvCls,Fare,Baggage,PaxAdditionalInfo,AgentInfo
0,ОЗЕРОВ ИЛЬДАР ДАНИИЛОВИЧ,1999-05-15,2017-05-30,00:05,2017-05-30,08:05,SU1306,NO,SVO,OVB,ZBQSPY,7360415302044672,9375 053270,NaN,NaN,J,JGRPGN,0PC,S FF#SU 38116280,Go2See
1,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,NaN,2017-12-27,02:15,2017-12-27,04:40,SU1323,NO,MMK,SVO,MHPBBX,7398421117936516,2244 645520,NaN,KSML,Y,YRSTUQ,NaN,9 FF#FB 284903754,NaN
2,ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА,NaN,2017-09-19,06:40,2017-09-19,07:45,SU1481,NO,KJA,SVO,REDLVB,5174973140468001,8115 961316,NaN,NaN,Y,YSTNJL,NaN,F,KupiBilet
3,ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ,1999-05-02,2017-03-18,22:10,2017-03-19,01:05,SU1180,NO,SVO,VOG,NSJNGQ,5274206497242737,98 6865148,NaN,NaN,J,JFLXLS,0PC,# FF#FB 884556993,Travelgenio
4,НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ,1990-12-26,2017-03-18,22:10,2017-03-19,01:05,SU1180,NO,SVO,VOG,VWNYGF,6247422701565929,4396 926588,NaN,NaN,Y,YFLXPG,NaN,FF#SU 183142068,OZON.travel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155752,ЕМЕЛЬЯНОВ МИРОСЛАВ СВЯТОСЛАВОВИЧ,NaN,2017-02-14,03:10,2017-02-14,04:00,SU1181,NO,VOG,SVO,JYYXED,4714800502596692,3511 319326,NaN,STML,Y,YSTNER,NaN,F,OneTwoTrip
155753,ТАРАСОВ АРТЕМИЙ ГЕРМАНОВИЧ,NaN,2017-02-14,03:10,2017-02-14,04:00,SU1181,NO,VOG,SVO,XDKDZF,6730365623280343,2199 078129,NaN,NaN,Y,YFLXKV,1PC,T FF#DT 261604825,OZON.travel
155754,ГОРОХОВ БОРИС СВЯТОГОРОВИЧ,1970-10-28,2017-02-14,03:10,2017-02-14,04:00,SU1181,NO,VOG,SVO,SOWGLC,1569746161308219,7351 760618,NaN,NaN,Y,YFLXBF,NaN,F FF#FB 902862806,Aeroflot
155755,ДОРОФЕЕВ РАМИЛЬ СВЯТОСЛАВОВИЧ,1994-02-14,2017-05-18,06:30,2017-05-18,08:35,SU1158,NO,SVO,ROV,SNRBXU,8653871661040452,3256 077151,NaN,NaN,Y,YGRPMD,NaN,#,NaN
155756,ШАПОВАЛОВА ВАРВАРА ДАНИЛОВНА,NaN,2017-05-09,07:00,2017-05-09,08:35,SU1279,NO,KZN,SVO,JMGRLT,5113294821402227,8328 780960,NaN,NaN,Y,YSTNKV,NaN,FF#DT 520710243,Aerobilet

In [6]:
df_boarding = pd.read_csv('data/BoardingData.csv', sep = ';')
df_boarding['PassangerName'] = df_boarding['PassengerLastName'] + ' ' + df_boarding['PassengerFirstName']

In [7]:
df_boarding

,PassengerFirstName,PassengerSecondName,PassengerLastName,PassengerSex,PassengerBirthDate,PassengerDocument,BookingCode,TicketNumber,Baggage,FlightDate,FlightTime,FlightNumber,CodeShare,Destination,PassangerName
0,SAVELII,VIKTOROVICH,RUSANOV,Male,03/10/1983,2879 096860,FRNINO,6625956945991971,Transit,2017-03-22,06:05,SU1369,Own,Moscow,RUSANOV SAVELII
1,LEV,MARKOVICH,ISAEV,Male,12/13/1975,1788 173211,Not presented,1643715499224676,Registered,2017-03-18,22:10,SU1180,Own,Volgograd,ISAEV LEV
2,NIKOLAI,I.,NIKOLSKII,Male,12/26/1990,4396 926588,VWNYGF,6247422701565929,Transit,2017-03-18,22:10,SU1180,Own,Volgograd,NIKOLSKII NIKOLAI
3,ANATOLII,PETROVICH,SHILOV,Male,05/24/1997,2595 919752,WQFFUE,Not presented,Registered,2017-03-18,22:10,SU1180,Own,Volgograd,SHILOV ANATOLII
4,MIROSLAVA,VIACHESLAVOVNA,SEMENOVA,Female,01/31/1976,6775 516990,Not presented,Not presented,Registered,2017-03-12,11:45,SU6284,Own,Moscow,SEMENOVA MIROSLAVA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155142,RAMIL,S.,DOROFEEV,Male,02/14/1994,3256 077151,SNRBXU,8653871661040452,Delayed,2017-05-18,06:30,SU1158,Own,Rostov,DOROFEEV RAMIL
155143,RUSLAN,KONSTANTINOVICH,CHISTIAKOV,Male,02/14/1975,3497 458395,Not presented,0223584175158947,NaN,2017-05-18,06:30,SU1158,Own,Rostov,CHISTIAKOV RUSLAN
155144,SOFIA,VALEREVNA,KALMYKOVA,Female,12/17/1972,6618 352713,Not presented,Not presented,Registered,2017-10-02,07:30,SU5614,Own,Petropavlovsk,KALMYKOVA SOFIA
155145,VIACHESLAV,F.,KONONOV,Male,05/20/2000,4567 242088,Not presented,0975693658645383,Registered,2017-09-16,07:00,SU1640,Own,Omsk,KONONOV VIACHESLAV
155146,ESENIIA,DANILOVNA,BLINOVA,Female,03/07/1984,2861 762272,Not presented,Not presented,NaN,2017-05-09,07:00,SU1279,Own,Moscow,BLINOVA ESENIIA

In [8]:
# Проверка - нет ли людей, менявших имя, или указавших разные данные
dup1 = df_boarding[['PassengerDocument','PassangerName']].groupby('PassengerDocument')['PassangerName'].nunique()
dup1 = dup1[dup1 > 1].index.tolist()
print(f'Странные паспорта: {dup1}')
if len(dup1) > 0:
    print(df_boarding[df_boarding['PassengerDocument'].isin(dup1)][['PassangerName', 'PassengerDocument', 'PassengerBirthDate']].drop_duplicates())

Странные паспорта: ['8248 013778']
        PassangerName PassengerDocument PassengerBirthDate
83246   GLEBOV GORDEI       8248 013778         12/31/1982
150151    BUROV RAMIL       8248 013778         08/24/1995

In [9]:
data1, docs = merging.mergeDataPasports(df_sirena, df_boarding)

In [10]:
data1['ID'] = "pass_" + data1['PassengerDocument']
data1.rename(columns={'Dest':'To','FlightDate':'Date'}, inplace=True)

In [11]:
print('Соответствие загранпаспортов и паспортов РФ:')
docs

Соответствие загранпаспортов и паспортов РФ:

              pass PassengerDocument
35      44 2285514       3342 036804
65      78 5386060       2924 413280
78      21 5558588       8508 948406
213     09 8507665       5237 499392
248     71 8104777       0085 524168
...            ...               ...
154890  48 5701014       5400 482368
154911  13 9652212       0977 338850
155061  27 8836096       9258 183384
155090  18 5258526       8436 085223
155198  58 5347666       1685 126926

[2976 rows x 2 columns]

## 2. Обработка данных, на основе уникальных номеров программ лояльности

In [12]:
df_airlines = pd.read_csv('data/PointzAggregator-AirlinesData.csv')
df_airlines['uid'] = df_airlines['uid'].apply(str)

In [13]:
df_airlines

,uid,first_name,last_name,card_number,bonus_program,activity_type,code,date,departure,arrival,fare
0,613142142,IAROMIR,ZVEREV,FB 171388778,Flying Blue,Flight,KE827,2017-08-06,rea,SZX,YGRPZT
1,613142142,IAROMIR,ZVEREV,FB 171388778,Flying Blue,Flight,MU9706,2017-10-26,PEK,BSD,YSTNYV
2,103197717,VITALINA,KOROVINA,KE 696768759,Korean Air SKYPASS,Flight,DL5058,2017-09-11,CHA,ATL,YRSTKY
3,103197717,VITALINA,KOROVINA,KE 696768759,Korean Air SKYPASS,Flight,KE1,2017-04-01,rea,HNL,PRSTRU
4,103197717,VITALINA,KOROVINA,KE 696768759,Korean Air SKYPASS,Flight,DL837,2017-09-13,ATL,HNL,YGRPNG
...,...,...,...,...,...,...,...,...,...,...,...
436085,293103570,EMIL,KAZAKOV,DT 269347755,Delta SkyMiles,Flight,SU6402,2017-03-01,SVX,LED,YGRPPM
436086,293103570,EMIL,KAZAKOV,SU 856232932,Aeroflot Bonus,Flight,AR1142,2017-12-14,EZE,FCO,PRSTQA
436087,293103570,EMIL,KAZAKOV,SU 856232932,Aeroflot Bonus,Flight,AR1143,2017-09-16,FCO,EZE,YGRPFA
436088,265781820,UL'YANA,KONONOVA,DT 302785701,Delta SkyMiles,Flight,GA502,2017-05-12,CGK,PNK,YFLXAU
436089,265781820,UL'YANA,KONONOVA,DT 302785701,Delta SkyMiles,Flight,GA88,2017-08-02,CGK,AMS,YRSTQC

In [14]:
df_exchange = pd.read_csv('data/SkyTeam-Exchange.csv')

In [15]:
df_exchange

               Date FlightNumber         FFKey Class    Fare From  Status   To
0        2017-01-01       AF1145  FB 520518073     Y  YRSTFN  SVO  LANDED  CDG
1        2017-01-01       AF1844   FB 18427809     Y  YGRPZR  SVO  LANDED  CDG
2        2017-01-01       AF4855  KE 993927664     Y  YRSTJQ  SVO  LANDED  CDG
3        2017-01-01       AF4901  SU 789402704     Y  YGRPAT  SVO  LANDED  CDG
4        2017-01-01       AF4901  KE 352734424     Y  YFLXKO  SVO  LANDED  FCO
...             ...          ...           ...   ...     ...  ...     ...  ...
1048570  2017-08-15       AF8230  FB 488784667     Y  YRSTWV  CDG  LANDED  AMS
1048571  2017-08-15       AF8240  SU 907312862     Y  YSTNLF  CDG  LANDED  AMS
1048572  2017-08-15       AF8266  DT 609487136     Y  YFLXAR  MRS  LANDED  AMS
1048573  2017-08-15       AF8270  FB 267305129     Y  YGRPYO  NCE  LANDED  AMS
1048574  2017-08-15       AF8291  SU 258148893     Y  YGRPLY  AMS  LANDED  LYS

[1048575 rows x 8 columns]

In [16]:
df_forum_b = pd.read_csv('data/FrequentFlyerForum-Profiles_Base.csv')
df_forum_f = pd.read_csv('data/FrequentFlyerForum-Profiles_Flight.csv')
df_forum_lp = pd.read_csv('data/FrequentFlyerForum-Profiles_LoyalityProgram.csv')
df_forum = (df_forum_b,df_forum_f,df_forum_lp)

In [17]:
df_forum_lp

       Status programm     Number            NickName
0       Basic       KE  889215424      FrequentFlyer0
1      Elite+       DT  484697244      FrequentFlyer0
2       Basic       SU  658121632      FrequentFlyer2
3      Elite+       DT  356246372      FrequentFlyer2
4       Basic       KE  388423193      FrequentFlyer2
...       ...      ...        ...                 ...
88822   Basic       FB   18721601  FrequentFlyer99995
88823  Elite+       FB  183116620  FrequentFlyer99996
88824  Elite+       KE  275536799  FrequentFlyer99996
88825   Elite       SU  449778932  FrequentFlyer99996
88826   Elite       DT  702680548  FrequentFlyer99996

[88827 rows x 4 columns]

In [18]:
df_forum_f

,Date,Codeshare,Flight,Arrival.City,Arrival.Airport,Arrival.Country,Departure.City,Departure.Airport,Departure.Country,NickName
0,2017-03-04,False,DL3377,Pittsburgh PA,PIT,United States of,Boston MA,BOS,United States of,FrequentFlyer0
1,2017-07-21,False,DL3630,Detroit MI,DTW,United States of,Green Bay WI,GRB,United States of,FrequentFlyer0
2,2017-03-22,False,DL5361,New York NY,LGA,United States of,Pittsburgh PA,PIT,United States of,FrequentFlyer0
3,2017-01-04,True,SU3702,Warsaw,WAW,Poland,Moscow,SVO,Russian Federation,FrequentFlyer0
4,2017-08-08,False,DL3412,Atlanta GA,ATL,United States of,Fayetteville AR,XNA,United States of,FrequentFlyer0
...,...,...,...,...,...,...,...,...,...,...
1048570,2017-05-31,False,UX5002,Malaga,AGP,Spain and Canary Islands,Melilla,MLN,Spain and Canary Islands,FrequentFlyer80200
1048571,2017-08-18,True,CI9312,Toronto,YYZ,Canada,Vancouver,YVR,Canada,FrequentFlyer80200
1048572,2017-09-29,False,DL3427,Lexington KY,LEX,United States of,Detroit MI,DTW,United States of,FrequentFlyer80200
1048573,2017-05-14,False,SU52,Saint Petersburg,LED,Russian,Moscow,SVO,Russian Federation,FrequentFlyer80201
1048574,2017-03-16,False,SU1960,Kyzylorda,KZO,Kazakhstan,Moscow,SVO,Russian Federation,FrequentFlyer80201

In [19]:
data2, strange, ids = merging.mergeLoyality(df_exchange, df_forum, df_airlines)

In [20]:
print('Нехорошие люди, использовавшие чужие программы лояльности:')
strange

Нехорошие люди, использовавшие чужие программы лояльности:

            uid         FFKey
3780  866799462  FB 139888197

## 3. Слияние всего вместе

In [21]:
# Соответствие ников, uid и паспорта
ids = merging.mergeLoyalityIdNickPasports(df_sirena, ids)

In [22]:
ids

,uid,FFKey,NickName,TravelDoc,ID
0,438181628,FB 520518073,FrequentFlyer60777,NaN,id_438181628
1,326758367,FB 18427809,FrequentFlyer99821,NaN,id_326758367
2,NaN,KE 993927664,FrequentFlyer88655,NaN,nick_FrequentFlyer88655
3,882817776,SU 789402704,NaN,NaN,id_882817776
4,491286390,KE 352734424,NaN,NaN,id_491286390
...,...,...,...,...,...
135207,NaN,KE 802807335,FrequentFlyer99703,NaN,nick_FrequentFlyer99703
135208,NaN,SU 599074516,FrequentFlyer99746,NaN,nick_FrequentFlyer99746
135209,NaN,KE 843668,FrequentFlyer99765,NaN,nick_FrequentFlyer99765
135210,NaN,KE 966848030,FrequentFlyer99794,NaN,nick_FrequentFlyer99794
135211,NaN,KE 757384867,NaN,3266 988423,pass_3266 988423

In [23]:
# Данные, о полётах из второй части данных
data = pd.merge(data2, ids[['ID','FFKey']], on='FFKey', how='left')[['ID', 'Date','From','To']]
data = data.dropna()

In [24]:
# Объединение всех данных о полётах вместе, для дальнейшей отрисовки
data = pd.concat([data, data1[['ID','Date','From','To']]])

In [25]:
data

                      ID        Date From   To
0           id_438181628  2017-01-01  SVO  CDG
1           id_438181628  2017-01-06  CDG  ZRH
2           id_438181628  2017-01-15  ZRH  AMS
3           id_438181628  2017-02-02  AMS  SXB
4           id_438181628  2017-02-03  SXB  AMS
...                  ...         ...  ...  ...
155429  pass_3242 441269  2017-01-08  ARH  SVO
155435  pass_5860 040208  2017-02-14  VOG  SVO
155438  pass_4553 277857  2017-02-14  VOG  SVO
155439  pass_0282 596160  2017-05-18  SVO  ROV
155441  pass_3497 458395  2017-05-18  SVO  ROV

[1558331 rows x 4 columns]

# Отрисовка графа полётов

In [ ]:
airports = pd.read_csv('data/Airports.csv')

In [ ]:
data = visualization.get_dataframe_for_work(data, airports)